<div class="container mt-5">
    <h2 class="text-center">Admin Panel - Manage Chapters------</h2>
    
    <form [formGroup]="courseForm">
        <div formArrayName="chapters">
          <div *ngFor="let chapter of chapters.controls; let i = index" [formGroupName]="i">
              <input formControlName="course_id" placeholder="Description">
            <input formControlName="name" placeholder="Chapter Name">
            <input formControlName="desc" placeholder="Description">
            <button (click)="updateChapter(i)">Save</button>
            <button (click)="deleteChapter(i)">Delete</button>
          </div>
        </div>
      </form>
      
      <button (click)="addChapter()">Add New Chapter</button>
      <button routerLink="/video">View Video</button>
</div>
