

<div class="join-us-container"
  style="background: url('https://img.pikbest.com/ai/illus_our/20230427/62fea655dfec70ab99507220639ac96c.jpg') no-repeat center center fixed; background-size: cover;">

  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>

  <h3>Login Here</h3>

  <label for="email">Email</label>
  <input type="text" [(ngModel)]="loginObj.email" placeholder="Email" id="email">

  <label for="password">Password</label>
  <input type="password" name="password" [(ngModel)]="loginObj.password" placeholder="Password" id="password">

  <button style="color: black" (click)="onLogin()">Log In</button>

  <a routerLink="/signup">New user? Click to signup!!</a>
</div>
