<header>
    <nav class="navbar navbar-light bg-dark">
      <ul class="nav justify-content-start">
        <li class="nav-item">
          <small class="me-3 text-light">
            <i class="bi bi-geo-alt"></i> Pimpri Chinchwad New Town, Software Development Pune, Maharashtra
          </small>
        </li>
        <li class="nav-item">
          <small class="me-3 text-light">
            <i class="bi bi-telephone"></i> +91 9970584464
          </small>
        </li>
        <li class="nav-item">
          <small class="text-light">
            <i class="bi bi-envelope"></i> Voidmaingmail.com
          </small>
        </li>
  
        <li class="nav-item">
          <a class="nav-link text-light" href="/signup">Signup</a>
        </li>
        <li class="nav-item">
  
          <a class="nav-link text-light" href="/login">Login</a>
        </li>
  
        <!-- <button routerLink="/login" class="btn btn-link">Logout</button> -->
        <button (click)="logout()">Logout</button>

  
        <div class="search-bar">
          <input type="text" placeholder="Search..." />
          <button>🔍</button>
        </div>
      </ul>
    </nav>
  </header>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-light" href="#">Void Main</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav mx-auto">
        
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/add-course">Add Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/add-quiz">Add quiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/webinar">Webinar</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link text-light" routerLink="/feedbacks">Feedbacks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/contact">Contact</a>
        </li> -->
  
      </ul>
    </div>
  </nav>
  
  <router-outlet></router-outlet>
  
  <footer class="bg-dark text-light py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3>Coding Yaar</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <p>09876543221</p>
          <p>1234567890</p>
        </div>
        <div class="col">
          <h4>Menu</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-decoration-none text-light">Link</a></li>
            <li><a href="#" class="text-decoration-none text-light">Link</a></li>
            <li><a href="#" class="text-decoration-none text-light">Link</a></li>
          </ul>
        </div>
        <div class="col-lg-3 text-lg-end">
          <h4>Social Media</h4>
          <a href="#" class="text-decoration-none text-light"><i class="bi bi-envelope fs-4 me-2"></i></a>
          <a href="#" class="text-decoration-none text-light"><i class="bi bi-instagram fs-4 me-2"></i></a>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <p>2024 Coding Yaar. All Rights Reserved.</p>
        <div>
          <a href="#" class="text-decoration-none text-light me-3">Terms of Use</a>
          <a href="#" class="text-decoration-none text-light">Privacy Policy</a>
        </div>
      </div>
    </div>
  </footer>